@import url('ehime_960.css');

.promo {
  float: left;
}
.promo .ehime-2 {
  padding-left: 0px;
}

@media only screen 
  and (min-device-width : 375px) 
  and (orientation : portrait) {
  body {
    width: 100%;
    overflow: auto;
  }
  .promo {
    margin: 0 auto;
    float: none;
    text-align: center;
  }
  #schedule th {
    width: 25%;
    font-size: 3.5vw;
  }
  #schedule td {
    font-size: 4vw;
  }
  #promo p {
    font-size: 5vw;
  }
  .feature p {
    font-size: 5vw;
    margin-top: 10px;
    margin-bottom: 10px;
    padding: 0;
  }
  h2 {
    font-size: 6vw;
  }
  h3 {
    font-size: 6vw;
  }
  h4 {
    font-size: 4vw;
  }
  p {
    font-size: 4vw;
    margin-top: 10px;
    padding-bottom: 20px;
  }
  strong {
    font-size: 5vw;
    font-weight: 700;
  }
  .side h3 {
    margin: 1em 0 0.8em;
  }
  .coaches a {
    font-size: 4vw;
  }
  .coaches .grid_3 {
    height: auto;
    margin-right: 0;
  }
}