/*Geneva*/
.geneva_header {
  background: #d3360b url('../images/geneva/geneva2.jpg') no-repeat;
  background-size: cover;
  display: table;
  height: 100vh;
  height: 1vm;
  width: 100%;
  opacity: 0.9;
}
.geneva_header {
  background: #d3360b url('../images/geneva/geneva2.jpg') no-repeat;
  background-size: cover;
  display: table;
  height: 100vh;
  height: 1vm;
  width: 100%;
  opacity: 0.9;
}

.geneva-2017 #promo {
  padding-left:340px;
  background:url('../images/rg-krakow.png') no-repeat 10px 40px;
}
.geneva-2017 #promo h1 {
  font-family: "expressway", 'Helvetica Neue', Helvetica ,sans-serif;
  font-weight:bold;
  text-shadow: 1px 1px rgba(0,0,0,0.3);
  color:#d3360b;
  font-size: 42px;
  margin: 0 0 0.25em;
  text-indent: 0;
  /*background:url('../images/rg-krakow-header.png') no-repeat left top;*/
}

.geneva-2017 .button {
  display: inline-block;
  background-color: rgba(211, 54, 11, 0.9);
  border: 1px solid white;
  padding: 10px 30px;
  font-size: 22px;
  color: #fff;
  margin: 0.1em 0;
}

.geneva-2017 .share {
  padding: 1em 0;
}

.geneva-2017 .sponsors a {
  text-decoration: none;
  border-bottom: 0;
  color: black;
}

.geneva-2017 .sponsors h3 {
  text-align: center;
  margin-top: 5em;
}

.geneva-2017 .sponsors img {
  margin: 20px 0
}

.geneva-2017 .sponsor-diamond img {
  width: 400px
}

.geneva-2017 .sponsor-diamond p {
  width: 400px;
  margin: auto;
}

.geneva-2017 .sponsor-gold img {
  width: 300px
}

.geneva-2017 .sponsor-gold p {
  width: 300px;
  margin: auto;
}

.geneva-2017 .sponsor-silver img {
  width: 250px
}

.geneva-2017 .sponsor-silver p {
  width: 250px;
  margin: auto;
}

.geneva-2017 .sponsor-other img {
  width: 200px
}

.geneva-2017 .sponsor-other p {
  width: 200px;
  margin: auto;
}
