body {
  font-family: 'Source Sans Pro', sans-serif;
  font-weight: 400;
}
header {
  background: #D3360B;
}
.line {
  height: 2px;
  margin-bottom: 30px;
}
.jumbo-intro {
  background: #FFF !important;
  padding: 0 2rem !important;
}
h1.title {
  font-size: 24px;
  font-weight: 600;
  color: #D3350C;
  margin-top: 35px;
  margin-bottom: 20px;
}
.event-schedule h5 {
  margin-left: 10px;
}
.event-schedule #schedule tr th {
  width: 110px;
}
.language {
  color: #e0330c !important;
}
.language.active {
  font-weight: bold;
}
.logo {
  text-align: center;
}
.logo img {
  width: 90%;
}

.application {
  font-size: 20px;
  font-weight: 600;
  padding-top: 50px;
  padding-left: 50px;
}
.application .apply-btn {
  color: #FFF;
  border-radius: 10px;
  background-color: #D3350C;
  border-color: #D3350C;
}
.apply-btn:hover {
  font-size: 20px;
}
.features .feature {
  text-align: center;
  border: 1px solid #D3350C;
  border-radius: 4px;
  padding: 20px;
}
.features .feature strong {
  font-size: 16px;
  font-weight: 600;
  color: #D3350C;
}
.features .feature a {
  font-size: 16px;
}
tr th {
  font-size: 15px;
  font-weight: 200;
}
tr td h4 {
  color: #e0330c;
  font-weight: 400;
  font-size: 19px;
}

a {
  color: #e0330c;
  font-weight: 400;
  font-size: 19px;
}
a:hover {
  color: #000;
  font-weight: 400;
  font-size: 19px;
  text-decoration: none;
}
.location .info {
  padding-right: 100px;
}
iframe {
  width: 100%;
}
/* partners */
.partners .partner {
  text-align: center;
  margin: 0 10px 0 10px;
}
.partners .partner img {
  max-width: 180px;
  margin-top: 20px;
}
.partners .help {
  position: relative;
  background-color: #F8F8F8;
  border-radius: 4px;
  padding: 15px 0 20px 8px;
  margin-top: 20px;
}
.partners .help .title {
  font-weight: 600;
  font-size: 16px;
}
.partners .help p {
  margin-right: 70px;
  margin-top: 6px;
}
.partners .help p a {
  font-size: 16px;
  color: #D3350C;
}
.partners .help img {
  width: 30px;
  position: absolute;
  right: 18px;
  bottom: 2px;
}

/* coach */
.coach img {
  width: 50px;
  border-radius: 50px;
  margin-right: 15px;
  float: left;
}
.coach {
  padding-top: 10px;
  padding-bottom: 10px;
}
.coach small {
  color: #000;
  display: block;
  font-size: 70%;
}
.faqs .faq .question{
  font-weight: 600;
  color: #D3350C;
  margin-bottom: 0;
}
.faqs .faq .answer a {
  font-size: 16px;
}
footer {
  text-align: center;
  background: #F4F4F4;
  padding: 20px;
  margin-top: 50px;
}
footer img.teacher {
  height: 54px;
  width: 24px;
  margin-right: 30px;
}
footer img.participant {
  height: 54px;
  width: 33px;
  margin-left: 30px;
}
footer .slogan {
  font: 13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.5em;
  margin-bottom: 20px;
}
.nav-link {
  color: #FFF;
}
.navbar-toggler {
  color: #FFF;
}