header {
  background: #D3360B;
}

.jumbo-intro {
  background: #FFF !important;
  padding: 2rem !important;
}
.language {
  color: #e0330c !important;
}
.language.active {
  font-weight: bold;
}
.logo {
  text-align: center;
}
.logo img {
  width: 90%;
}

.title{
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: #D3360B;
  margin-top: 15px;
}
.introduction .description {
  font-size: 1.25rem;
  font-weight: 300;
}
.application {
  text-align: center;
}
.features {
  margin-top: 60px;
  margin-bottom: 20px;
}
.feature {
  text-align: center;
}
tr th {
  font-size: 15px;
  font-weight: 200;
}
tr td h4 {
  color: #e0330c;
  font-weight: 400;
  font-size: 19px;
}

a {
  color: #e0330c;
  font-weight: 400;
  font-size: 19px;
}
a:hover {
  color: #000;
  font-weight: 400;
  font-size: 19px;
  text-decoration: none;
}
iframe {
  margin-top: 20px;
  margin-bottom: 20px;
  width: 100%;
}
.partners .title {
  text-align: center;
}
.partners .description {
  text-align: center;
}
.partners h2 {
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1.2;
  color: #D3360B;
}
.platinum, .media-sponsor {
  margin-bottom: 40px;
}

.platinum img {
  margin-bottom: 20px;
  margin-top: 20px;
}

.media-sponsor img {
  width: 100px;
}
.media-sponsor p {
  font-size: 14px;
  text-align: justify;
}
.community-sponsors p img {
  width: 75px;
  text-align: center;
  max-height: 75px;
}
.community-sponsors p img.square {
  width: 50px;
}
.community-sponsors {
  font-size: 12px;
  text-align: justify;
  margin-bottom: 30px;
}
.community-sponsors a {
  font-size: 12px;
}
.community-sponsors p a {
  font-size: 12px;
}
.sponsorship {
  text-align: center;
}
.coach img {
  width: 50px;
  border-radius: 50px;
  margin-right: 15px;
  float: left;
}
.coach {
  padding-top: 10px;
  padding-bottom: 10px;
}
.coach small {
  color: #000;
  display: block;
  font-size: 70%;
}
.team {
  margin-top: 40px;
}
.team .title {
  text-align: center;
}
.faq {
  margin-top: 40px;
}
.faq .title {
  text-align: center;
  margin-bottom: 20px; 
}
.faq .col-md-3 {
  margin-bottom: 30px;
}
footer {
  text-align: center;
  background: #F4F4F4;
  padding: 20px;
  margin-top: 30px;
}
footer p {
  font-size: 1.1em;
  padding: 10px;
}
footer .slogan {
  font: 13px/1.5 'Helvetica Neue',Arial,'Liberation Sans',FreeSans,sans-serif;
  font-size: 1.5em;
  letter-spacing: 0.5em;
  margin-bottom: 20px;
}
.nav-link {
  color: #FFF;
}
.navbar-toggler {
  color: #FFF;
}